##############################
## Java & Compiled
##############################
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
/target/
/build/
.mtj.tmp/

##############################
## Maven
##############################
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

##############################
## IDE: IntelliJ IDEA
##############################
.idea/
*.iml
*.iws
*.ipr
out/

##############################
## IDE: Eclipse / VS Code / NetBeans
##############################
.settings/
.classpath
.project
.factorypath
.vscode/
.code-workspace
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

##############################
## Spring Boot & Logs
##############################
*.log
logs/
spring.log
spring-*.log

##############################
## Databases & Secrets
##############################
*.db
*.mv.db
*.trace.db

.env
application-local.yml
application-local.properties

##############################
## OS specific (Mac / Windows)
##############################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

##############################
## Project specific (User Uploads)
##############################
# Если вы решите сделать загрузку картинок в объявлении в локальную папку
uploads/